<h1>New exmth</h1>

<%= form_for :exmth, url: exmths_path do |f| %>
  <p>
    <%= f.label :ex_det_cd %>
    <%= f.text_field :ex_det_cd, :placeholder=>"input ex_det_cd" %>
  </p>

  <p>
    <%= f.label :ex_mth_img %>
    <%= f.text_field :ex_mth_img %>
  </p>

  <p>
    <%= f.label :ex_mth_ep %>
    <%= f.text_field :ex_mth_ep %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', exmths_path %>
