<p>
  <strong>id:</strong>
  <%= @exmth.id %>
</p>

<p>
  <strong>ex_det_cd:</strong>
  <%= @exmth.ex_det_cd %>
</p>

<p>
  <strong>ex_mth_img:</strong>
  <%= @exmth.ex_mth_img %>
</p>

<p>
  <strong>ex_mth_ep:</strong>
  <%= @exmth.ex_mth_ep %>
</p>

<%= link_to 'Back', exmths_path %>
