<p>
  <strong>id:</strong>
  <%= @commoncd.id %>
</p>

<p>
  <strong>main_cd:</strong>
  <%= @commoncd.main_cd %>
</p>

<p>
  <strong>det_cd:</strong>
  <%= @commoncd.det_cd %>
</p>

<p>
  <strong>cd_nm:</strong>
  <%= @commoncd.cd_nm %>
</p>

<%= link_to 'Back', commoncds_path %>
