<h1>New expt</h1>

<%= form_for :expt, url: expts_path do |f| %>
  <p>
    <%= f.label :ex_det_cd %>
    <%= f.text_field :ex_det_cd, :placeholder=>"input ex_det_cd" %>
  </p>

  <p>
    <%= f.label :pt_det_cd %>
    <%= f.text_field :pt_det_cd %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', expts_path %>
