<h1>New exeq</h1>

<%= form_for :exeq, url: exeqs_path do |f| %>
  <p>
    <%= f.label :ex_det_cd %>
    <%= f.text_field :ex_det_cd, :placeholder=>"input ex_det_cd" %>
  </p>

  <p>
    <%= f.label :eq_det_cd %>
    <%= f.text_field :eq_det_cd %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', exeqs_path %>
