<p>
  <strong>id:</strong>
  <%= @admin.id %>
</p>

<p>
  <strong>adm_id:</strong>
  <%= @admin.adm_id %>
</p>

<p>
  <strong>adm_pw:</strong>
  <%= @admin.adm_pw %>
</p>

<p>
  <strong>adm_nm:</strong>
  <%= @admin.adm_nm %>
</p>

<p>
  <strong>adm_tel:</strong>
  <%= @admin.adm_tel %>
</P>

<%= link_to 'Back', admins_path %>

