<h1>New user</h1>

<%= form_for :user, url: users_path do |f| %>
  <p>
    <%= f.label :user_id %>
    <%= f.text_field :user_id, :placeholder=>"input account id" %>
  </p>

  <p>
    <%= f.label :user_pw %>
    <%= f.text_field :user_pw %>
  </p>

  <p>
    <%= f.label :user_nm %>
    <%= f.text_field :user_nm %>
  </p>

  <p>
    <%= f.label :user_tel %>
    <%= f.text_field :user_tel %>
  </p>

  <p>
    <%= f.label :user_rgt_day %>
    <%= f.text_field :user_rgt_day%>
  </p>

  <p>
    <%= f.label :rsd_rgn_cd %>
    <%= f.text_field :rsd_rgn_cd %>
  </p>

  <p>
    <%= f.label :mileage %>
    <%= f.text_field :mileage %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>
