<p>
  <strong>id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>user_id:</strong>
  <%= @user.user_id %>
</p>

<p>
  <strong>user_pw:</strong>
  <%= @user.user_pw %>
</p>

<p>
  <strong>user_nm:</strong>
  <%= @user.user_nm %>
</p>

<p>
  <strong>user_tel:</strong>
  <%= @user.user_tel %>
</P>

<p>
  <strong>user_rgt_day:</strong>
  <%= @user.user_rgt_day %>
</p>

<p>
  <strong>rgd_rgn_cd:</strong>
  <%= @user.rsd_rgn_cd %>
</p>

<p>
  <strong>mileage:</strong>
  <%= @user.mileage %>
</p>

<%= link_to 'Back', users_path %>
