<p>
  <strong>id:</strong>
  <%= @gym.id %>
</p>

<p>
  <strong>gym_nm:</strong>
  <%= @gym.gym_nm %>
</p>

<p>
  <strong>gym_tel:</strong>
  <%= @gym.gym_tel %>
</p>

<p>
  <strong>gym_adr:</strong>
  <%= @gym.gym_adr %>
</p>

<p>
  <strong>rgn_cd:</strong>
  <%= @gym.rgn_cd %>
</P>

<%= link_to 'Back', gyms_path %>

