<h1>New gymadm</h1>

<%= form_for :gymadm, url: gymadms_path do |f| %>
  <p>
    <%= f.label :gym_no %>
    <%= f.text_field :gym_no, :placeholder=>"input gym no" %>
  </p>

  <p>
    <%= f.label :adm_no %>
    <%= f.text_field :adm_no %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', gymadms_path %>

