<h1>listing reviews</h1>
<%= link_to 'New review', new_review_path %> 
<table>
  <tr>
    <th>id</th>
    <th>gym_no</th>
    <th>rv_wr_id</th>
    <th>rv_wr_tm</th>
    <th>rv_content</th>
    <th>rv_img</th>
    <th>rv_point</th>
  </tr>
 
  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.id %></td>
      <td><%= review.gym_no %></td>
      <td><%= review.rv_wr_id %></td>
      <td><%= review.rv_wr_tm %></td>
      <td><%= review.rv_content %></td>
      <td><%= review.rv_img %></td>
      <td><%= review.rv_point %></td>
    </tr>
  <% end %>
</table>

