<p>
  <strong>id:</strong>
  <%= @review.id %>
</p>

<p>
  <strong>gym_no:</strong>
  <%= @review.gym_no %>
</p>

<p>
  <strong>rv_wr_id:</strong>
  <%= @review.rv_wr_id %>
</p>

<p>
  <strong>rv_wr_tm:</strong>
  <%= @review.rv_wr_tm %>
</p>

<p>
  <strong>rv_content:</strong>
  <%= @review.rv_content %>
</P>

<p>
  <strong>rv_img:</strong>
  <%= @review.rv_img %>
</p>

<p>
  <strong>rv_point:</strong>
  <%= @review.rv_point %>
</p>

<%= link_to 'Back', reviews_path %>

